---
title: "Publications"
layout: default
sitemap: false
permalink: /publications/
---

<h1>{{page.title}}</h1>

For a full list of publications, see Bevil's <a href="https://scholar.google.com/citations?user=mlMcFxMAAAAJ&hl=en&oi=ao">Google Scholar profile</a> or <a href="orcid.org/0000-0001-7715-9253">ORCID</a>.

<div class="panel-group" id="accordion">
    <div class="panel panel-default">

    {% for publi in site.data.publications %}
        <div class="panel-heading">
            <a data-toggle="collapse" data-parent="#accordion"
               href="#collapse{{forloop.index}}"
               style="color: inherit;">
            <!-- authors -->
            {% assign authors = "" | split:"/" %}
            {% for author in publi.author %}
                {% assign authors = authors | push: author.family %}
            {% endfor %}
            {{ authors | array_to_sentence_string }},

            <!-- title with link -->
            <b>{{ publi.title }}</b>,

            <!-- issued date -->
            ({{ publi.issued.date-parts | jsonify | slice: 3,4 }}),

            <!-- DOI -->
            {% if publi.DOI %}
                <a href="https://doi.org/{{publi.DOI}}">doi.org/{{publi.DOI}}</a>
            {% endif %}
            </a>
        </div>

        <div id="collapse{{forloop.index}}" class="panel-collapse collapse">
            <div class="panel-body">
                <p>{{ publi.abstract }}</p>

                <a class="btn btn-outline-primary" href="https://doi.org/{{publi.DOI}}"
                   role="button" target="blank">Link</a>
            </div>
        </div>
    {% endfor %}
    </div>
</div>
