<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-6">
				<ul class="list-unstyled">
					<li><a href="https://github.com/nei-lsr">LSR Github Repository</a></li>
					<!--
					<li><a href="">Link</a></li>
					<li><a href="">Link</a></li>
					<li><a href="">Link</a></li>
					-->
				</ul>
			</div>

			<div class="col-sm-6">
				<p class="text-right"> This website is built using <a href="https://github.com/ericdaat/research-lab-website">this template</a>. </p>
			</div>
		</div>

	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
